In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline

In [34]:
df_afib = pd.read_csv('D:/Data Machinelearning/AFIB.csv', skiprows=[1]) #read csv file
df_normal = pd.read_csv('D:/Data Machinelearning/NORMAL.csv', skiprows=[1]) #read csv file   
df_afib.head() #show first 5 rows

,maxRR,minRR,meanRR,stdevRR,maxQRS,minQRS,meanQRS,stdevQRS,maxTP,minTP,meanTP,stdevTP,maxPQ,minPQ,meanPQ,stdevPQ
0,1.004,0.304,0.678250,0.140164,0.184,0.064,0.111250,0.040871,0.616,0.0,0.333750,0.154486,0.224,0,0.088500,0.072978
1,1.340,0.320,0.820712,0.171255,0.156,0.072,0.079233,0.011052,1.016,0.0,0.415342,0.177047,0.400,0,0.113699,0.096916
2,0.872,0.176,0.505536,0.116075,0.300,0.064,0.114515,0.046953,0.532,0.0,0.167139,0.098726,0.152,0,0.040895,0.038216
3,2.628,0.208,0.542172,0.184965,0.316,0.064,0.134262,0.050425,1.644,0.0,0.161557,0.132961,0.376,0,0.053701,0.047091
4,2.628,0.208,0.542172,0.184965,0.316,0.064,0.134262,0.050425,1.644,0.0,0.161557,0.132961,0.376,0,0.053701,0.047091

In [35]:
df_normal.head() #show first 5 rows

,maxRR,minRR,meanRR,stdevRR,maxQRS,minQRS,meanQRS,stdevQRS,maxTP,minTP,meanTP,stdevTP,maxPQ,minPQ,meanPQ,stdevPQ
0,0.742,0.250,0.640630,0.063519,0.164,0.117,0.124840,0.006790,0.375,0,0.236358,0.079953,0.093,0,0.075778,0.013088
1,0.781,0.172,0.704871,0.062424,0.156,0.094,0.120400,0.014495,0.367,0,0.285659,0.050885,0.133,0,0.103059,0.021317
2,0.711,0.594,0.629189,0.019724,0.110,0.101,0.105526,0.003920,0.360,0,0.233442,0.076415,0.086,0,0.074316,0.011566
3,2.172,0.297,0.638613,0.175572,0.258,0.093,0.102097,0.017667,0.289,0,0.245441,0.040239,0.351,0,0.107204,0.030890
4,0.930,0.648,0.755734,0.053462,0.117,0.101,0.107519,0.003828,0.485,0,0.300924,0.073938,0.133,0,0.116342,0.020230

In [36]:
df_afib.info() #show info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   maxRR      39 non-null     float64
 1    minRR     39 non-null     float64
 2    meanRR    39 non-null     float64
 3    stdevRR   39 non-null     float64
 4    maxQRS    39 non-null     float64
 5    minQRS    39 non-null     float64
 6    meanQRS   39 non-null     float64
 7    stdevQRS  39 non-null     float64
 8    maxTP     39 non-null     float64
 9    minTP     39 non-null     float64
 10   meanTP    39 non-null     float64
 11   stdevTP   39 non-null     float64
 12   maxPQ     39 non-null     float64
 13   minPQ     39 non-null     int64
 14   meanPQ    39 non-null     float64
 15   stdevPQ   39 non-null     float64
dtypes: float64(15), int64(1)
memory usage: 5.0 KB

In [20]:
df_afib.drop(df_afib.iloc[:, 8:16], inplace=True, axis=1) #drop column
df_normal.drop(df_normal.iloc[:, 8:16], inplace=True, axis=1) #drop column kalau TP sama PQ gk di drop tinggal  comand blok ini

In [37]:
df_afib['label'] = ('AFIB') #add label
df_normal['label'] = ('NORMAL') #add label

In [38]:
new_df=pd.concat([df_afib,df_normal],axis=0) #concatenate 2 dataframe
new_df.head() #show first 5 rows

,maxRR,minRR,meanRR,stdevRR,maxQRS,minQRS,meanQRS,stdevQRS,maxTP,minTP,meanTP,stdevTP,maxPQ,minPQ,meanPQ,stdevPQ,label
0,1.004,0.304,0.678250,0.140164,0.184,0.064,0.111250,0.040871,0.616,0.0,0.333750,0.154486,0.224,0,0.088500,0.072978,AFIB
1,1.340,0.320,0.820712,0.171255,0.156,0.072,0.079233,0.011052,1.016,0.0,0.415342,0.177047,0.400,0,0.113699,0.096916,AFIB
2,0.872,0.176,0.505536,0.116075,0.300,0.064,0.114515,0.046953,0.532,0.0,0.167139,0.098726,0.152,0,0.040895,0.038216,AFIB
3,2.628,0.208,0.542172,0.184965,0.316,0.064,0.134262,0.050425,1.644,0.0,0.161557,0.132961,0.376,0,0.053701,0.047091,AFIB
4,2.628,0.208,0.542172,0.184965,0.316,0.064,0.134262,0.050425,1.644,0.0,0.161557,0.132961,0.376,0,0.053701,0.047091,AFIB

In [39]:
new_df=new_df.sample(frac=1).reset_index(drop=True) #shuffle dataframe

In [40]:
new_df.head()

,maxRR,minRR,meanRR,stdevRR,maxQRS,minQRS,meanQRS,stdevQRS,maxTP,minTP,meanTP,stdevTP,maxPQ,minPQ,meanPQ,stdevPQ,label
0,0.980,0.348,0.495273,0.109925,0.280,0.108,0.164760,0.046373,0.464,0.000,0.112165,0.075616,0.156,0,0.054843,0.030195,AFIB
1,1.032,0.348,0.530159,0.124791,0.740,0.060,0.148637,0.084054,0.516,-0.308,0.159646,0.114316,0.220,0,0.047257,0.040122,AFIB
2,0.660,0.136,0.558916,0.073018,0.304,0.112,0.170280,0.039016,0.212,0.000,0.068336,0.033207,0.136,0,0.102879,0.034534,AFIB
3,0.828,0.288,0.506105,0.116477,0.248,0.104,0.172000,0.048869,0.404,0.000,0.124211,0.097294,0.104,0,0.044842,0.031378,AFIB
4,1.368,0.040,0.524456,0.160416,0.348,0.076,0.155439,0.050760,0.508,-0.228,0.132175,0.097328,0.400,0,0.057088,0.053888,AFIB

In [41]:
X = new_df.drop(['label'], axis=1) #drop label
y = new_df['label'] #label

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

models = {
    'RandomForestClassifier': RandomForestClassifier(),
    'AdaBoostClassifier':AdaBoostClassifier(),
    'GradientBoostingClassifier': GradientBoostingClassifier()
}

In [43]:
from sklearn.model_selection import KFold
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
import pickle
kf = KFold(n_splits=3,shuffle=True,random_state=42) #split data n split bisa di ganti sesuai kebutuhan
metric='accuracy'
for name, model in models.items():
    pipeline = Pipeline( steps=[('model', model)])
    i=0
    for train_index, test_index in kf.split(X):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        pipeline.fit(X_train, y_train)
        y_pred = pipeline.predict(X_test)
        print(name, metric, accuracy_score(y_test, y_pred))
        pickle.dump(pipeline, open('model_'+name+'_'+str(i)+'.pkl', 'wb'))
        i=i+1

RandomForestClassifier accuracy 1.0
RandomForestClassifier accuracy 1.0
RandomForestClassifier accuracy 0.9615384615384616
AdaBoostClassifier accuracy 1.0
AdaBoostClassifier accuracy 1.0
AdaBoostClassifier accuracy 0.9230769230769231
GradientBoostingClassifier accuracy 1.0
GradientBoostingClassifier accuracy 1.0
GradientBoostingClassifier accuracy 0.9230769230769231